header {
    background: none repeat scroll 0 0 #3de2aa;
    color: #ebdbb2;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #3de2aa;
    color: #669E73;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

table {
    width: 300px;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    margin-left: 30px;
}

th, td {
    padding: 10px;
    text-align: left;
}

span.ex1 {
    min-width: 1000px;
    display: inline-block;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h4{
    margin-left: 20px;
    color: #199e78;
}