header {
    background: none repeat scroll 0 0 #3de2aa;
    color: #ebdbb2;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    background: none repeat scroll 0 0 #3de2aa;
    color: #669E73;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

table {
    width: 300px;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

span.ex1 {
    min-width: 1000px;
    display: inline-block;
}
